<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
  <h2
    class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900"
  >
    Login account
  </h2>
  <form [formGroup]="formLogin" class="space-y-6" (ngSubmit)="handleSubmit()">
    <div>
      <label for="email" class="block text-sm/6 font-medium text-gray-900"
        >Email address</label
      >
      <div class="mt-2">
        <input
          type="email"
          name="email"
          id="email"
          autocomplete="email"
          formControlName="email"
          [maxLength]="validation.email.limit.max"
          required
          class="block w-full border-2 border-grey-300 rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-orange-600 sm:text-sm/6"
        />
        @let email = formLogin.get('email');

        <div
          class="alert alert-danger"
          *ngIf="email?.invalid && (email?.dirty || email?.touched)"
        >
          <div
            *ngIf="email?.hasError('required')"
            class="flex items-center gap-1 py-1"
          >
            <ng-icon name="heroExclamationCircle" size="22" />
            {{ validationMessages.required("Email address") }}
          </div>
          <div
            *ngIf="email?.hasError('email')"
            class="flex items-center gap-1 py-1"
          >
            <ng-icon name="heroExclamationCircle" size="22" />
            {{ validationMessages.invalid("Email address") }}
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="flex items-center justify-between">
        <label for="password" class="block text-sm/6 font-medium text-gray-900"
          >Password</label
        >
        <div class="text-sm">
          <a
            routerLink="/auth/forgot-password"
            class="font-semibold text-orange-600 hover:text-orange-500"
          >
            Forgot password?
          </a>
        </div>
      </div>
      <div class="relative mt-2">
        <input
          [type]="showPassword() ? 'text' : 'password'"
          #passwordInput
          name="password"
          id="password"
          autocomplete="current-password"
          formControlName="password"
          required
          [maxLength]="validation.email.limit.max"
          class="block w-full border-2 border-grey-300 rounded-md bg-white px-3 pr-10 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-orange-600 sm:text-sm/6"
        />
        <button
          type="button"
          class="absolute right-3 top-2 text-lg text-gray-600"
          (click)="handleShowPassword()"
        >
          <ng-icon [name]="showPassword() ? 'heroEyeSlash' : 'heroEye'" />
        </button>
        @let password = formLogin.get('password');
        <div
          class="alert alert-danger"
          *ngIf="password?.invalid && (password?.dirty || password?.touched)"
        >
          <div
            *ngIf="password?.hasError('required')"
            class="flex items-center gap-1 py-1"
          >
            <ng-icon name="heroExclamationCircle" size="22" />
            {{ validationMessages.required("Password") }}
          </div>
        </div>
      </div>
    </div>

    <div>
      <button
        type="submit"
        [disabled]="formLogin.invalid"
        class="flex w-full justify-center rounded-md bg-orange-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-orange-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600 cursor-pointer"
      >
        Login
      </button>
    </div>
    <p class="mt-10 text-center text-sm/6 text-gray-500">
      Not a member?
      <a
        routerLink="/auth/register"
        class="font-semibold text-orange-600 hover:text-orange-500"
        >Register</a
      >
    </p>
  </form>
</div>
