<footer class="p-2 mb-4">
  <ul class="flex flex-col gap-2">
    <li
      class="flex flex-row items-center gap-2 text-lg px-2 py-1 font-semibold text-primary hover:bg-gray-300 rounded-sm cursor-pointer routes"
      routerLink="/auth/login"
    >
      <ng-icon name="heroArrowRightEndOnRectangle" />
      <p>Đăng nhập</p>
    </li>
    <li
      class="flex flex-row items-center gap-2 text-lg px-2 py-1 font-semibold text-primary hover:bg-gray-300 rounded-sm cursor-pointer routes"
      routerLink="/auth/register"
    >
      <ng-icon name="heroUserPlus" />
      <p>Đăng ký</p>
    </li>
  </ul>
</footer>
