@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto;
}

a {
  text-decoration: none;
}

.routes {
  cursor: pointer;
  user-select: none;
}

button:disabled {
  opacity: 70%;
}
