/* You can add global styles to this file, and also import other style files */
/* Ensure Tailwind CSS is properly configured */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

.routes {
  cursor: pointer;
  user-select: none;
}

button:disabled {
  opacity: 70%;
}

.alert {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font-size: small;
}

.alert-danger {
  color: red;
}
